#contenedor{
    display: grid;
    grid-template-columns: 1f 1f 1f 1f 1f 1f 1f 1f 1f;
    grid-template-rows: 200px 300px 400px 200px 150px 200px;
}

.ver1{
    grid-column: 1 / span 1;
    background-color: rgb(37, 37, 233);
}
.ver2{
    grid-column: 2 /span 1;
    background-color: rgb(102, 66, 64);
}
.ver3{
    grid-column: 3 /span 1;
    background-color: rgb(34, 34, 85);
}
.ver4{
    grid-column: 4 /span 1;
    background-color: rgb(93, 93, 185);
}
.ver5{
    grid-column: 5 /span 1;
    background-color: rgb(51, 32, 31);
}
.ver6{
    grid-column: 6 /span 1;
    background-color: rgb(87, 87, 167);
}
.ver7{
    grid-column: 7 /span 1;
    background-color: rgb(87, 87, 214);
}
.ver8{
    grid-column: 8 /span 1;
    background-color: rgb(102, 29, 26);
}
.ver9{
    grid-column: 9 /span 1;
    background-color: rgb(48, 48, 168);
}

.derecha{
    grid-column: 1 /span 4;
    background-color: rgb(252, 33, 25);
}
.izquierda{
    grid-column: 5 /span 5;
    background-color: blue;
}

.n1{
    grid-column: 1 / span 6;
    background-color: black;
}
.n2{
    grid-column: 7 / span 3;
    background-color: brown;
}

article{
    grid-column: 1 / span 9;
    background-color: chartreuse;
}

.a1{
    grid-column: 1 / span 3;
    background-color: darkgoldenrod;
}
.a2{
    grid-column: 4 / span 3;
    background-color: rgb(14, 13, 13);
}
.a3{
    grid-column: 7 / span 3;
    background-color: darkgoldenrod;
}
